extends _layouts/default

block vars
  - var _htmlClass='home'

block header_body
  main.jumbotron
    .container
      h1
        | Free Web Publishing
        br.hidden-xs
        |  and Hosting for Developers
      p
        | Deploy static websites to a superfast global CDN in seconds
      .input-group.input-group-lg
        span.input-group-btn
          button.copy-npm-cmd-btn.btn.btn-default.btn-lg(type='button' data-toggle='tooltip' data-placement='bottom' title='Copy to clipboard')
            i.fa.fa-clipboard
        input.form-control.npm-cmd(type='text' readonly=true value='npm install -g pubstorm')

      a.button.get-started-btn.btn.btn-primary.btn-lg(href='/signup' data-toggle='tooltip' data-placement='bottom' title="")
        | Claim your free site

block body
  include _partials/header

  section#features
    .container
      .row
        mixin feature(icon, title, desc)
          .feature.col-xs-12.col-sm-6.col-md-4
            i.fa(class='fa-'+icon)
            h3=title
            p=desc

        +feature('globe', 'Production Grade CDN', 'Our CDN provides quick pageloads to visitors around the globe.')
        +feature('tachometer', 'Infinitely Scalable', 'Our cloud automatically scales to handle any amount of traffic.')
        +feature('lock', 'HTTPS at Zero Cost', 'Secure your site. Setup a LetsEncrypt SSL cert for your website in seconds, for free.')

        .clearfix.visible-md-block.visible-lg-block

        +feature('map-signs', 'Custom Domains', 'Have a piece of the Internet with your own domain name.')
        +feature('undo', 'Backups and Rollbacks', 'Made a mistake? Undo it instantly before anyone notices.')
        +feature('bar-chart', 'Visitor Statistics', 'Monitor and learn more about your website traffic.')

  section#demo
    .container
      .terminal.window
        .titlebar
          .control
          .control
          .control
        .window-body
          code
            span.cli
              span.t1
                span.prompt >
                =' '
              span.t2 storm publish
              span.t3
                br
                | Scanning "/Users/erin/erins-blog"...
              span.t4
                br
                span.blue
                  | [Info]
                |  Bundling 37 files (17.3 MiB)...
              span.t5
                br
                br
                | Packing bundle "erins-blog"...
                br
                | [
                span.blue.cli-progress-bar
                  | ========================================
                | ]
                =' '
                span.cyan
                  span.cli-progress-percentage 100.0
                  | %
              span.t6
                br
                br
                | Uploading bundle "erins-blog" to PubStorm Cloud...
                br
                | [
                span.blue.cli-progress-bar
                  | ========================================
                | ]
                =' '
                span.cyan
                  span.cli-progress-percentage 100.0
                  | %
              span.t7
                br
                br
                | Launching v1...
              span.t8
                br
                span.blue
                  | [Info]
                |  Successfully published "erins-blog" on PubStorm Cloud.
                br
                | =>
                = ' '
                ins erins-blog.pubstorm.site
                br
                span.prompt >
                =' '
            span.cursor
      .browser.window
        .titlebar
          .control
          .control
          .control
          .left-nav-btn.titlebar-btn.hidden-xs
            i.fa.fa-chevron-left
          .right-nav-btn.titlebar-btn.hidden-xs
            i.fa.fa-chevron-right
          .url-field.titlebar-btn
            span erins-blog.pubstorm.site
        .window-body
          .blog

  section#tools
    .container
      h2 Works with all the tools you love

      ul
        mixin tool(slug, name)
          li(class=slug)
            span.sr-only= name

        +tool('html5', 'HTML5')
        +tool('js', 'JavaScript')
        +tool('jekyll', 'Jekyll')
        +tool('hexo', 'Hexo')
        +tool('middleman', 'Middleman')
        li.separator.hidden-xs
        +tool('hugo', 'Hugo')
        +tool('ember', 'Ember')
        +tool('react', 'React')
        +tool('angular', 'Angular')
        +tool('gulp', 'Gulp')
        +tool('grunt', 'Grunt')

  section#get-started
    .container
      h2 Get Started

      ol
        li
          h3 Install Node and npm
          p
            | Node.js comes with a great package manager called npm. Even though the PubStorm
            |  command line tool isn&rsquo;t written in JavaScript, it is distributed as an npm
            |  package to make it really easy for you to install and update the tool.
          p
            a(href='https://nodejs.org/en/download/') Install a recent version of Node.js.

        li
          h3 Install PubStorm npm package
          p
            | Open a command line session and run
            =' '
            code npm install -g pubstorm
            |  to install the PubStorm command line tool. Try running
            =' '
            code sudo npm install -g pubstorm
            |  if you get a permission error when installing.

        li
          h3 Create a PubStorm account
          p
            | Once the PubStorm command line tool is installed, you can access it by entering
            =' '
            code storm
            |  in the command line. To publish a web site on PubStorm, you&rsquo;ll need a
            =' '
            a(href='/signup') PubStorm account.
          p
            | To create a PubStorm account, you can signup
            =' '
            a(href='/signup') via this link
            |  or run
            =' '
            code storm signup
            |  in your command line and follow the instructions on the screen.

        li
          h3 Initialize a PubStorm project
          p In the command line, navigate to the root folder of your project.
          p
            | Run
            =' '
            code storm init
            |  and follow the instructions on the screen. When asked for the &ldquo;Project Path&rdquo;,
            |  enter the path to the folder that contains the assets (HTML, CSS, JS and other assets like
            |  images) that you want to publish. If you are using  a static site generator, enter the path
            |  to the folder that contains the build output. For example, if you are using Jekyll, enter
            =' '
            code _site
            |  as the project path.

        li
          h3 Publish your project
          p
            | Once your assets are ready, run
            =' '
            code storm publish
            |  to publish your project.
          p
            |  If you are using a static site generator, you have to build your project before publishing.
            |  For example, if you are using Jekyll, run
            =' '
            code jekyll build
            |  to ensure your site is built before running
            =' '
            code storm publish
            | .

        li
          h3 Add a custom domain
          p
            | After the publish command has completed, your site will be "live" on a
            =' '
            code .pubstorm.site
            |  domain.
          p
            | To add a custom domain that you own, run
            =' '
            code storm domains add
            |  and follow the instructions on the screen.

        li
          h3 Secure your site with HTTPS
          p
            | PubStorm can setup HTTPS on your site in seconds, at zero cost. An SSL certificate from
            =' '
            a(href='https://letsencrypt.org/') Let's Encrypt
            =' '
            | will be used.

          p
            | Run
            =' '
            a(href='https://help.pubstorm.com/command-reference/storm-ssl-letsencrypt/')
              code storm ssl letsencrypt
            =' '
            | to set up HTTPS on your custom domain.

          p
            | For more information, please visit
            =' '
            a(href='https://help.pubstorm.com') PubStorm Help
            | .

  include _partials/cta_hero
  include _partials/footer
  include _partials/app_js

// Storm clouds photo by Carl Wycoff
